<header class="header-background">

  <div class="clearfix border-bottom-thick header-border">
    <div class="left sm-width-left py-1 mt-1 mt-lg-0">
      <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/">
        {{ site.title }}
      </a>
    <ul class="list-reset right py-1 header-text font-smoothing">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li class="inline-block">
          <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</header>
